@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{   
    
    
    <li class="nav-item">        
        @if(user.ProfileImage == null) 
        {
            <p>
                <a class="nav-link text-dark" asp-area="" asp-route-id="@user.Id" asp-controller="Profile" asp-action="Details">
                    <img src="~/Images/UsersProfileImages/blank.jpg"   
                    class="rounded-circle"   
                    height="40" width="40"   
                    asp-append-version="true"
                    style="cursor : pointer;" />            
                </a>
            </p>
        }
        else
        {
            <p>
                <a class="nav-link text-dark" asp-area="" asp-route-id="@user.Id" asp-controller="Profile" asp-action="Details">
                    <img src="~/Images/UsersProfileImages/@user.ProfileImage"   
                    class="rounded-circle"   
                    height="40" width="40"   
                    asp-append-version="true" 
                    style="cursor : pointer;"/>
                </a>
            </p>
        }
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @User.Identity.Name!
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-route-id="@user.Id" asp-action="Details">Profile</a>
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">My Solutions</a>
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">My Bookmarks</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account Settings</a>
        <form  class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
