@model GradConnect.ViewModels.TablePartialVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<td style="width@150px">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" asp-controller="@Model.Controller" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fas fa-edit"></i>
        </a>

        <a type="button" class="btn btn-success" asp-controller="@Model.Controller" asp-action="Details" asp-route-id="@Model.Id">
            <i class="far fa-list-alt"></i>
        </a>
        <a type="button" class="btn btn-danger" asp-controller="@Model.Controller" asp-action="Delete" asp-route-id="@Model.Id">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>

</td>
