@model GradConnect.ViewModels.UserProfileViewModel;
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                
                    <form enctype="multipart/form-data" method="POST" asp-action="EditPortfolioPost">
                        
                        <div class="form-group row">
                            <div class="col-3">
                                <label asp-for="@Model.Portfolio.ProjectName"></label>
                            </div>
                            <div class="col-9">
                                <input type="text" asp-for="@Model.Portfolio.ProjectName" required/>
                            </div>
                            <span asp-validation-for="@Model.Portfolio.ProjectName" class="text-danger"></span>
                        </div> 
                        <div class="form-group row">
                            <div class="col-3">
                                <label asp-for="@Model.Portfolio.Description"></label>
                            </div>
                            <div class="col-8">
                                <textarea rows="4" cols="30" asp-for="@Model.Portfolio.Description" required>
                                </textarea>
                            </div>
                            <span asp-validation-for="@Model.Portfolio.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-3">
                                <label asp-for="@Model.Portfolio.Link"></label>
                            </div>
                            <div class="col-9">
                                <input type="text" asp-for="@Model.Portfolio.Link" />
                            </div>
                            <span asp-validation-for="@Model.Portfolio.Link" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <p> 
                                <img src="~/Images/Portfolios/@Model.Portfolio.Image" 
                                height="200" width="200"   
                                asp-append-version="true"
                                style="align-text: center;"/>
                                </a> 
                            </p>
                        </div>
                        <div class="input-group mb-3">
                        <div class="custom-file">
                            <input asp-for="@Model.PictureFile" class="custom-file-input">  
                            <label class="custom-file-label" for="customFile">Choose image</label>
                        </div>
                        <span asp-validation-for="@Model.PictureFile" class="text-danger"></span>  
                        </div>
                        <button type="submit" asp-action="EditPortfolioPost" asp-route-id="@Model.Portfolio.Id" class="btn btn-success">Save changes</button>    
                    </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>